@font-face {
    font-family: "Inter-Bold";
    src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Inter-Regular";
    src: url("./assets/fonts/Poppins-BoldItalic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Inter-SemiBold";
    src: url("./assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Inter-Bold";
    src: url("./assets/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Inter-Regular";
    src: url("./assets/fonts/Poppins-Italic.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Inter-SemiBold";
    src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  }
  